body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom left, #6D4C41, #3E2723);
}

$gameHeight: 480px;
$gameWidth: 480px;
$boardColor: green;

.piece-extend {
  content: '';
  position: absolute;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 5%;
  border-radius: 50%;
  display: block;
  backface-visibility: hidden;
  transform: rotateY(90deg);
  transition: all 0.5s;
}

.game {
  width: $gameWidth * 1.1;
  height: $gameHeight * 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: lighten(black, 10%);
  border-radius: $gameWidth / 10;
  margin: auto;
  .piece-holder {
    height: $gameHeight / 12;
    width: $gameWidth;
    background: #333;
    box-shadow: inset 0 0 10px #000;
    margin: 16px 0px;
    .piece {
      display: inline-block;
      width: $gameWidth / 32;
      position: relative;
      height: 100%;
      &::before, &::after {
        content: '';
        display: inline-block;
        width: 50%;
        position: absolute;
        top: 0;
        height: 100%;
      }
      &::before {
        left: 0;
        background: #333;
        box-shadow: inset 0 0 7px #000;
      }
      &::after {
        right: 0;
        background: #fff;
        box-shadow: inset 0 0 7px #000;
      }
    }
  }
  table {
    width: $gameWidth;
    height: $gameHeight;
    background: darken($boardColor, 5%);
    td {
      width: $gameWidth / 12;
      height: $gameHeight / 12;
      position: relative;
      // background: $boardColor;
      padding: 0;
      transition: background-color 0.2s;
      box-shadow: inset 0 0 15px darken($boardColor, 20%);
      &:hover {
        background: lighten($boardColor, 15%);
      }
      span {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        &::before {
          @extend .piece-extend;
          background: #222;
          box-shadow: inset 0 0 10px #000;
        }
        &::after {
          @extend .piece-extend;
          background: #fff;
          box-shadow: inset 0 0 10px #000;
        }
        &.black {
          &::before {
            transform: rotateY(0deg);
          }
          &::after {
            transform: rotateY(180deg);
          }
        }
        &.white {
          &::before {
            transform: rotateY(180deg);
          }
          &::after {
            transform: rotateY(0deg);
          }
        }
      }
    }
  }
}
